/* Header */
.logo {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.logo img {
  max-height: 100%;
}

/* Body */

body {
  margin: 0px 20px 50px 20px !important;
}

#info_box_title {
  font-size: large;
  margin-top: 10px;
}

#info_box_ingredients {
  font-size: x-small;
}

/* Website Navigation Buttons */

button {
  color: white;
  background-color: #3ca1ba;
  font-family: "Dosis", sans-serif !important;
  font-size: large !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: black !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
}

.nav-but {
  border: solid black 1.5px !important;
}

.btn.btn-info {
  background-color: #3ca1ba;
  color: white;
  border-color: #3ca1ba;
}

.nav_buttons1 {
  display: flex;
  align-items: flex-start;
}

.nav_buttons1 button {
  margin: 0 10px;
}

.nav_buttons2 {
  display: flex;
  align-items: flex-end;
}

.nav_buttons2 button {
  margin: 0 10px;
}

#nav_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Catalogue List */

.catalogue_title {
  margin: 30px 10px;
}

#catalogue_cont {
  display: flex;
  container: wrap;
}

.accordion {
  width: 250px;
  margin: 0 10px;
  min-width: 250px;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

.description_boxes {
  display: flex;
  flex-wrap: wrap;
}

#cream_image {
  height: 200px;
  margin-right: 20px;
}

#cream_image img {
  max-height: 100%;
}

#cream1_data {
  padding-right: 10px;
}

.card.card-body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* /////// Cart Page //////// */

#my_cart {
  margin: 0px 40px 20px 40px !important;
  padding: 30px;
  border: solid 2px;
  border-color: black;
  border-radius: 5px;
}

#cart_noitems {
  font-size: 15px !important;
}

#cart_id {
  margin: 20px 20px 0 20px;
}

.suggestions {
  display: flex;
  justify-content: center;
  margin: 20px;
}

h4 {
  font-size: 15px !important;
}

.link {
  text-decoration: underline;
  color: green;
  font-style: italic;
  margin-top: 20px;
}

/* Responsiveness */

@media screen and (max-width: 600px) {
  body {
    font-size: 60px !important;
  }
}
