* {
  font-family: "Merriweather", serif;
  font-family: "Raleway", sans-serif;
}
.logo {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.logo img {
  max-height: 100%;
}

body {
  margin: 0px 20px 50px 20px !important;
}

#navbarTogglerDemo03 {
  margin: 10px !important;
}

/* Button Styles :) */
button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: large !important;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: black !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
}

.nav-but {
  border: solid rgb(248, 249, 250) 1.5px !important;
}

.btn.btn-info {
  background-color: rgb(248, 249, 250);
  color: rgb(0, 0, 0);
  max-width: 120%;
}

.nav_buttons1 {
  display: flex;
  align-items: flex-start;
}

.nav_buttons1 button {
  margin: 0 10px;
}

.nav_buttons2 {
  display: flex;
  align-items: flex-end;
  color: rgb(0, 0, 0, 0.5) !important;
}

.nav_buttons2 button {
  margin: 0 10px;
}

#nav_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#button1 {
  background-color: rgb(249, 237, 233);
  border-color: rgb(207, 212, 217);
  color: black;
  margin-right: 5px;
}

#list {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  margin-left: 6px;
}

h3 {
  margin-top: 20px;
  text-align: center;
}

.nav-link {
  font-size: 1.2rem;
  color: black;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
  color: rgb(70, 124, 142);
}

.d-block {
  width: auto;
  max-width: 40%;
  margin: auto;
  display: block;
}

.d-block3 {
  width: auto;
  max-width: 30%;
  padding-top: 45px;
  margin: auto;
  display: block;
}

p {
  font-weight: bold;
  color: black;
  background-color: white;
}

#buttonShop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(249, 237, 233);
  border-color: rgb(207, 212, 217);
  color: black;
}

a {
  text-decoration: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgb(247, 237, 234);
  color: #000000;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-family: "Raleway", sans-serif;
  z-index: 9999;
  text-align: center;
  width: 40%;
  height: 70%;
}

.popup h3 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.popup h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(63, 133, 156);
  animation: wave-animation 3s infinite;
}

@keyframes wave-animation {
  0% {
    transform: scaleX(0);
    transform-origin: center;
  }

  50% {
    transform: scaleX(1);
    transform-origin: center;
  }

  100% {
    transform: scaleX(0);
    transform-origin: center;
  }
}

.imgBx {
  max-width: 50%;
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.news {
  list-style-position: outside;
  text-align: justify;
  padding: 0;
}

ul.news li {
  margin-bottom: 15px;
  font-size: 18px;
}

.contentBox .imgBx {
  width: 200px;
  margin-bottom: 10px;
}

.contentBox .imgBx img {
  width: 100%;
  height: auto;
}

#newsletterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

#newsletterForm input[type="email"] {
  width: 60%;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid rgb(63, 133, 156);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
}

#newsletterForm button {
  background-color: rgb(63, 133, 156);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url(icons8-close-22.png) no-repeat center;
  background-size: 70%;
  cursor: pointer;
}

/* Navbar Button Styles :> */
#navbarTogglerDemo03 #trolley,
#navbarTogglerDemo03 #account {
  font-size: 1.5em;
}

/* //// Catalogue Page ////// */

.catalogue_title {
  margin: 30px 30px;
  text-align: left;
}

#body-catalogue {
  margin-bottom: 200px !important;
}

#catalogue_cont {
  display: flex;
  container: wrap;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: rgb(207, 212, 217);
  border-color: rgb(207, 212, 217);
  box-shadow: rgb(249, 237, 233);
}

.btn.btn-info {
  background-color: rgb(249, 237, 233);
  border-color: rgb(207, 212, 217);
  box-shadow: rgb(249, 237, 233);
}

.accordion {
  width: 23%;
  margin: 0 10px;
  min-width: 23%;
}

#info_box_title {
  font-size: large !important;
  margin-top: 15px;
}

#info_box_ingredients {
  font-size: small !important;
  font-style: italic !important;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

.description_boxes {
  display: flex;
  flex-wrap: wrap;
}

#cream_image {
  height: 230px;
  margin-right: 20px;
}

#cream_image img {
  max-height: 100%;
}

#cream1_data {
  padding-right: 10px;
}

.card.card-body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#divadd {
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse; */
}
#plus {
  font-size: 20px;
}

#additembtn {
  margin: 20 30px 10 30px !important;
  border-radius: 20px !important;
  border: solid 1px !important;
  border-color: rgb(207, 212, 217) !important;
}
#add2cart {
  margin: 4px !important;
}

.toast-container {
  width: min-content;
}
.toast-body {
  height: 50px;
  background-color: #0e92ad;
  color: white;
  text-align: center;
}
#check-icon {
  margin: 0 3px;
}
#cartmessage {
  font-weight: bold;
  font-size: medium;
}
/* /////// Cart Page //////// */

#my_cart {
  margin: 0px 40px 40px 40px !important;
  background-color: rgb(176, 214, 229);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.13);
  padding: 30px 30px 20px 30px;
  border: solid 2px;
  border-color: rgb(176, 214, 229);
  border-radius: 10px;
}

#cart_noitems {
  font-size: medium !important;
  background-color: rgb(176, 214, 229);
  text-align: center;
}

#cart_id {
  margin: 35px 30px 22px 30px;
}

#trolley {
  background-color: rgb(248, 249, 250);
}

#account {
  background-color: rgb(248, 249, 250);
}

.suggestions {
  display: flex;
  justify-content: center;
  margin: 20 20 10 20px;
}

h4 {
  font-size: large !important;
  font-style: bold !important;
  margin-bottom: 20px !important;
}

.link {
  text-decoration: underline;
  color: rgb(19, 106, 34);
  font-style: italic;
  margin-top: 20px;
}

.navbar {
  align-items: normal !important;
  padding: 5px;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  font-family: sans-serif;
}

.gallery {
  background: #eee;
  width: 70%;
  position: relative;
  margin: 0 auto;
  align-items: center;
  background: white;
}

.gallery-cell {
  width: 70%;
  height: 250px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.cell-title {
  margin: 0px !important;
}

element.style {
  left: 55px !important;
}

.gallery-cell img {
  display: relative;
  max-width: max-content;
  max-height: 80%;
  align-items: flex-start;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s,
    -webkit-filter 0.3s, filter 0.3s;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.gallery-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
  width: 100%;
  height: 200px;
  margin-right: 10px;
  align-items: center;
}

/* /// About Us Page /// */

#aboutus-title {
  margin: 30px 30px;
  text-align: center;
}

.about {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.about-us {
  background-color: #eac4d5;
}

.about-brand {
  background-color: #d9c4a9;
}

.team {
  background-color: #95b8d1;
}

footer {
  text-align: center;
  padding: 10px;
}

.abouttitle {
  text-align: center;
}

#team-link {
  text-decoration: underline;
  color: green;
}

/* ///////// Contact Us //////// */

.contact-titles {
  margin: 30px 30px;
  text-align: center;
}

#submit-but {
  background-color: rgb(249, 237, 233);
  border-color: rgb(207, 212, 217);
  color: black;
  padding: 5px 10px;
}

form {
  display: contents;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}

label {
  color: black;
  margin-bottom: 5px;
}

#name,
#email,
#message {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

#linkedin,
#instagram {
  border: none;
  margin: 10px;
}

a {
  color: black;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
}

#contact-form,
#map,
#helpful-links {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  width: auto;
  margin: 0 350px;
}

/* Responsiveness */

@media screen and (max-width: 600px) {
  body {
    font-size: 60px !important;
  }
  head {
    font-size: 60px !important;
  }
  #list {
    padding: 2px 2px 2px 2px !important;
  }
}
